header {
    height: 70px;
    width: 100%;
    border-bottom-width: 1px;
    border-color: #CCCCCC;
    border-bottom: solid;
}

.logo{
    content: url(../images/logo.png);
    margin-left: 20px;
    vertical-align: middle;
}